.btn{
    padding: 1em 1em;
    border : 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    cursor: pointer;
    font-weight: 500;
    font-weight: 700;
    background-color: transparent;
    border-radius: 5px;
}


// OUR BUTTONS

.btn-primary{
    background-color: var(--primary-color);
    color: #FFF;

    &:hover{
        background-color: #469a59;
        transition: 0.2s;
    }

     &:active{
        background-color: var(--primary-color);
          color: #FFF;
    }

}

.btn-light{
    background-color: rgb(153, 152, 152);
    color: #000;

     &:hover{
        background-color: rgb(190, 190, 190);
        transition: 0.2s;
    }

     &:active{
       background-color: rgb(153, 152, 152);
        color: #000;   
    }
}

.btn-white{
       background-color: #FFF;
        color: #000;

      &:hover{
        background-color: rgb(221, 221, 221);
        transition: 0.2s;
    }

    &:active{
        background-color: #FFF;
        color: #000;
    }
}

.btn-dark{
       background-color: rgb(41, 41, 41);
        color: #FFF;

      &:hover{
        background-color: rgb(12, 12, 12);
        transition: 0.4s;
    }

    &:active{
        background-color:  rgb(41, 41, 41);
         color: #FFF;
    }
}


.tool-margin{
    margin: 0.5em 0.5em;
}