.btn{
    padding: 10px 15px;
    margin: 10px;
    border : 0;
    border-radius: 3px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    cursor: pointer;
    font-weight: 500;
    font-weight: 700;
    background-color: transparent;
}


// OUR BUTTONS

.btn-primary{
    background-color: var(--primary-color);
    color: #FFF;

    &:hover{
        background-color: #469a59;
        transition: 0.2s;
    }

     &:active{
        background-color: var(--primary-color);
          color: #FFF;
    }

}

.btn-light{
    background-color: rgb(153, 152, 152);
    color: #000;

     &:hover{
        background-color: rgb(190, 190, 190);
        transition: 0.2s;
    }

     &:active{
       background-color: rgb(153, 152, 152);
        color: #000;   
    }
}

.btn-white{
       background-color: #FFF;
        color: #000;

      &:hover{
        background-color: rgb(223, 223, 223);
        transition: 0.2s;
    }

    &:active{
        background-color: #FFF;
        color: #000;
    }
}